*{
    background-color: rgba(0, 0, 0, 0.632);
    color: aliceblue;
}

.container{
    height: 45vh;
    width: 45vh;
    display:block;
    justify-content: space-around;
    background-color: #78a0c9;
    box-shadow: 50%;
}
.btn{
    height: 70px;
    width: 70px;
    margin: 7px;
    border-radius: 50%;
    font-size: x-large;

}
.btn:hover{
    background-color: #fedcba;
    color: red;

}
#in {
    background-color: #abcdef;
    width: 180px;
    color: blue;
}
#in:hover{
    background-color: red;
}