*{
    background-color: rgba(0, 0, 0, 0.632);
    color: aliceblue;
}

.container{
    height: 40vh;
    width: 30vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 30px;
    size: 30px;
}