*{
    background-color: black;
    color: aliceblue;
}

.container{
    text-align: center;
    background-image: url("received_1946751972289388.jpeg");
}

.child{
    display: block;
    justify-content: space-evenly;
    align-items: center;
}
.child > img{
    height: 30vh;
    width: 9vh;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 15px;
    background-size: cover;
    /* box-shadow: (10px 7px 20px orange); */
    filter: drop-shadow(10px 7px 20px orange);
    transition: .5s ease;
}

.child > img:hover{
    width: 50vh;
    height: 50vh;
}