*{
    background-color: black;
    color: aliceblue;
}

.child{
    display: block;
    justify-content: space-around;
    align-items: center;
}
.child > img{
    height: 40vh;
    width: 9vh;
    border-radius: 15px;
    background-size: cover;
    /* box-shadow: (10px 7px 20px orange); */
    filter: drop-shadow(10px 7px 20px orange);
    transition: .5s ease;
}

.child > img:hover{
    width: 50vh;
    height: 50vh;
}